<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <!-- Insert content here -->
    <div id="app-root">
        <canvas 
            id="mycanvas"
            width=720
            height=1080>
        </canvas>
        <table id="controls">
            <tbody>
                <tr>
                    <td><label for="distance">Distance:</label></td>
                    <td><input type="range" name="distance" id="distance" min=5 max=50 step=5 value=10></td>
                </tr>
                <tr>
                    <td><label for="angle">Angle:</label></td>
                    <td><input type="range" name="angle" id="angle" min=1 max=45 step=1 value=15></td>
                </tr>
                <tr>
                    <td><label for="radius">Radius:</label></td>
                    <td><input type="range" name="radius" id="radius" min=1 max=10 step=1 value=5></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button id="reset">Reset</button>
                        <button id="generate">Generate</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>