<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <!-- Insert content here -->
    <div id="app-root">
        <canvas 
            id="mycanvas"
            width=720
            height=1280>
        </canvas>
        <div id="controls">
            <div>
                <label for="distance">Distance:</label>
                <input type="range" 
                    name="distance" 
                    id="distance"
                    min=5
                    max=50
                    step=5
                    value=10>
            </div>
            <div>
                <label for="angle">Angle:</label>
                <input type="range" 
                    name="angle" 
                    id="angle"
                    min=1
                    max=45
                    step=1
                    value=15>
            </div>
            <div>
                <label for="radius">Radius:</label>
                <input type="range" 
                    name="radius" 
                    id="radius"
                    min=1
                    max=10
                    step=1
                    value=5>
            </div>
            <div>
                <label for="iters">Iterations:</label>
                <input type="range"
                    name="iters" 
                    id="iters" 
                    min=1 max=6 step=1
                    value=3>
            </div>
        </div>
    </div>
</body>
</html>