/**
 * Generate L-systems
 * 
 * Author:  Anshul Kharbanda
 * Created: 6-5-2021
 */
* {
    font-family: 'Segoe UI', 
        Tahoma, Geneva, 
        Verdana, sans-serif;
}

body {
    margin: 0;
}

#app-root {
    margin: auto;
    max-width: fit-content;
}

#mycanvas {
    margin: 0;
    border: 1px solid #ccc;
    max-width: 100%;
}

#controls {
    margin-left: auto;
    tr td:first-child {
        text-align: right;
    }
}